* {
  color: #545454;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
  position: relative;
  min-height: 98.5vh;
  margin: 5px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  border: 1px solid #545454;
  margin: auto;
  height: 40px;
}

.time {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 70%;
  margin: auto;
  font-size: smaller;
}

.logo {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #545454;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 20px;
}

.nav li {
  list-style-type: none;
}

.nav a:focus {
  color: #cc9543;
}

.nav li:first-child {
  border-right: 1px solid #545454;
  padding-right: 10px;
}

.nav li:last-child {
  border-left: 1px solid #545454;
  padding-left: 10px;
}

.addBook {
  margin: 0 10px;
}

.contactSection {
  margin: auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactSectionNav {
  display: none;
}

/* Book List Section */

.pageTitle {
  text-align: center;
  color: #cc9543;
  margin-top: 50px;
}

.bookSection,
.bookCreation {
  max-width: 70%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.bookList {
  display: flex;
}

.bookList:nth-child(odd) {
  background-color: #e9f4d8;
}

.bookInfo {
  margin-left: 10px;
}

.button,
.removee {
  margin-left: auto;
  margin-right: 20px;
  align-self: center;
  padding: 8px 12px;
  background-color: #cc9543;
  border: none;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  color: white;
}

.emptyCollection {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

/* Book Creation Section */

.bookCreationSection {
  display: none;
}

.bookCreation {
  max-width: 250px;
  text-align: center;
  gap: 12px;
  margin: 0 auto;
}

.bookSection {
  border: 1px solid #545454;
}

.btn {
  margin: 0;
  align-self: flex-end;
}

.success {
  display: none;
  font-weight: 900;
  font-size: larger;
  color: #424242;
  text-align: center;
}

/* Footer */

.empty {
  padding-bottom: 40px;
  height: 40px;
}

.footerSection {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .header,
  .bookSection,
  .time {
    max-width: 98%;
  }
}
